# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

publish/*
tmp/*
zip/*
.vscode/*
pkg/*
src/github.com/*
src/go.uber.org/*
et.go.*
