[Unit]
Description=Eagle Tunnel Service

[Service]
Type=simple
User=root
Environment=TERM='xterm'
ExecStart=/usr/bin/et /etc/eagle-tunnel.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
