[Unit]
Description=Eagle Tunnel Service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/et /etc/eagle-tunnel.d/server.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
