[Unit]
Description=Eagle Tunnel Client

[Service]
Type=simple
User=root
ExecStart=/usr/bin/et /etc/eagle-tunnel.d/client.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
